<div class="container">
    <h1>Company Leads List</h1>
    <% @company_leads.each do |company_lead| %>
    <div class="row">
        <div class="col">
            <%= company_lead.id %>
        </div>
        <div class="col">
            <%= company_lead.name %>
        </div>
        <div class="col">
            <%= company_lead.lastName %>
        </div>
        <div class="col">
            <%= company_lead.email %>
        </div>
        <div class="col">
            <%= company_lead.cellphone %>
        </div>
        <div class="col">
            <%= company_lead.company_lead_source.description if company_lead.company_lead_source %>
        </div>
        <%= link_to "Edit this lead", edit_company_lead_path(company_lead), class: "btn btn-xs btn-primary" %>
        <%= link_to "Delete this lead", company_lead_path(company_lead), 
                method: :delete, 
                data: { confirm: "Are you sure?" }, 
                class: "btn btn-xs btn-danger" %>
        
    </div>
    </br>
    <% end %>
</div>