
<div class="container">
    <h1> Register!</h1>
    <%= form_for @company_lead do |c| %>
        <div class="form-group">
            <%= c.label :name %>
            <%= c.text_field :name, class: "form-control"  %>
        </div>
        <div class="form-group">
            <%= c.label :lastName %>
            <%= c.text_field :lastName, class: "form-control" %>
        </div>
        <div class="form-group">
            <%= c.label :email %>
            <%= c.text_field :email, class: "form-control" %>
        </div>
        <div class="form-group">
            <%= c.label :cellphone %>
            <%= c.text_field :cellphone, class: "form-control" %>
        </div>
        <div class="form-group">
            <%= c.label :company_lead_source_id %>
            <%= collection_select(:company_lead, :company_lead_source_id, CompanyLeadSource.all, :id, :description, {}, {class: "form-control"} ) %>
        </div>
        <%= c.submit %>
    <% end %>
</div>