<div class="container">
    <h1>Instructors List</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Cellphone</th>
                <th>Speciality</th>
                <th>Fitness resource</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <% @instructors.each do |instructor| %>
            
                <tr>
                    <td><%= instructor.name_with_lastname %></td>
                    <td><%= instructor.email %></td>
                    <td><%= instructor.cellphone %></td>
                    <td><%= instructor.speciality.name if instructor.speciality %></td>
                    <td><%= instructor.fitness_resource.name if instructor.fitness_resource %></td>
                    <td><%= link_to "Edit", 
                                    edit_instructor_path(instructor), 
                                    class: "btn btn-xs btn-primary" %>
                    </td>
                    <td><%= link_to "Delete", 
                                    instructor_path(instructor), 
                                    method: :delete, 
                                    data: { confirm: "Are you sure?" }, 
                                    class: "btn btn-xs btn-danger" %>
                    </td>

                </tr>
            <% end %>
        </tbody>
    </table>
</div>