<div class="container">
    <h1>Materials List</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Content</th>
                <th>Instructor name</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <% @materials.each do |material| %>
            
                <tr>
                    <td><%= material.name %></td>
                    <td><%= material.description %></td>
                    <td><a href="<%= material.content %>" target="_blank"> Link </a> </td>
                    <td ><%= material.instructor.name_with_lastname if material.instructor %></td>
                    <td><%= link_to "Edit", 
                                    edit_material_path(material), 
                                    class: "btn btn-xs btn-primary" %>
                    </td>
                    <td><%= link_to "Delete", 
                                    material_path(material), 
                                    method: :delete, 
                                    data: { confirm: "Are you sure?" }, 
                                    class: "btn btn-xs btn-danger" %>
                    </td>

                </tr>
            <% end %>
        </tbody>
    </table>
</div>