<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "Sensai Fitness", root_path, class: "navbar-brand", id: "logo" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "Register!", new_company_lead_path, class:"nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sale representative menu
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "Register sale representative", new_company_sale_representative_path, class:"dropdown-item" %>
          <%= link_to "List sale representatives", company_sale_representatives_path, class:"dropdown-item" %>
          <div class="dropdown-divider"></div>
          <%= link_to "List of Leads", company_leads_path, class:"dropdown-item" %>
          <div class="dropdown-divider"></div>
          <%= link_to "List of Transactions", company_lead_transactions_path, class:"dropdown-item" %>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Fitness resources
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "Create resource type", new_resource_type_path, class:"dropdown-item" %>
          <%= link_to "List resource types", resource_types_path, class:"dropdown-item" %>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Admin
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "Register transaction source", new_company_lead_transaction_source_path, class:"dropdown-item" %>
          <%= link_to "List transaction sources", company_lead_transaction_sources_path, class:"dropdown-item" %>
          <div class="dropdown-divider"></div>
          <%= link_to "Create Source Lead", new_company_lead_source_path, class:"dropdown-item" %>
          <%= link_to "List Source Leads", company_lead_sources_path, class:"dropdown-item" %>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
  </div>
</nav>